*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Product Sans;
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    min-height: 100vh;
}

/* navigation section */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 0vw 5vw;
}

nav .lft-nav, .rght-nav{
    display: flex;
    align-items: center;
    gap: 2vw;
}

nav .lft-nav a, .rght-nav a{
    text-decoration: none;
    color: #333;
}

.cntr-nav{
    font-size: 1.5vw;
    font-weight: 600;
}

.rght-nav button{
    padding: 0.8vw 1.8vw;
    background: none;
    border: 1px solid #3FAD6B;
    border-radius: 50px;
    font-size: 0.8vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.rght-nav button:hover{
    color: #fff;
    background-color: #3FAD6B;
    cursor: pointer;
}

/* hero section */
.part-1{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.part-1-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 95%;
    height: 100%;
    border-radius: 50px;
    background: url(https://images.unsplash.com/photo-1511452885600-a3d2c9148a31?q=80&w=1921&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

.part-1-img h1{
    font-size: 5vw;
    color: #fff;
    text-align: center;
}

.part-1-img p{
    font-size: 1vw;
    color: #fff;
}

.part-1-img .prop-select{
    width: 35vw;
    height: 25vh;
    background-color: #fff;
    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.828 );
    box-shadow: 0 8px 32px 0 rgba( 255, 255, 255, 0.371 );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;  
}

.prop-type{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    width: 100%;
}

.prop-type a{
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    font-size: 1vw;
    padding: 0.5vw 0vw;
}

.prop-select{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}

.prop-select a:nth-child(1){
    border-bottom: 1px solid #333;
    color: #000;
}

.prop-select a:hover{
    border-bottom: 1px solid #333;
    color: #000;
}

.prop-option{
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 2vw;
    font-size: 1vw;
    outline: none;
}

.city, .type{
    display: flex;
    flex-direction: column;
}

#city, #type{
    margin-top: 1vh;
    width: 10vw;
    height: 5vh;
    padding: 0vw 1vw;
    border-radius: 50px;
    border: 1px solid #3FAD6B;
    background-color: #ffffff;
}

.prop-option button{
    padding: 0.8vw 2.5vw;
    border-radius: 50px;
    border: none;
    background-color: #3FAD6B;
    color: #fff;
    font-size: 0.8vw;
}

.part-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.part-2 .top-part-2{
    display: flex;
    width: 100%;
    height: 50vh;
}

.lft-top-part-2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3vh;
    padding-left: 5vw;
}

.lft-top-part-2 h1{
    font-size: 3vw;
}

.lft-top-part-2 p{
    width: 80%;
}

.btn{
    padding: 0.7vw 1.5vw;
    border: none;
    background-color: #3FAD6B;
    border-radius: 50px;
    color: #fff;
    transition:all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.btn:hover{
    color: #3FAD6B;
    border: 1px solid #3FAD6B;
    background-color: transparent;
}

.rght-top-part-2{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rght-value{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 25vw;
    height: 25vh;
    background-color: #f2fcff;
    border-radius: 10px;
    padding: 0vw 2vw;
}

.lft-value{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2vw;
}

.lft-value h1{
    color: #3FAD6B;
}

.lft-value p{
    color: #747474;
}

.lft-value .value{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.part-2 .btm-part-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    padding: 0vw 7vw;
    gap: 5vh;
}

.benefits{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.benefits .value p{
    width: 70%;
}

.benefits .value h1{
    font-size: 2.5vw;
}

.part-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 5vh;
}

.img-part-3{
    width: 95%;
    height: 70vh;
    border-radius: 50px;
    background-image: url(https://plus.unsplash.com/premium_photo-1680284416492-890821545119?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.comp-logo{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.logo-c{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-c:nth-child(1){
    background-image: url(./company\ logo\ 1.png);
    background-size: 100%;
}

.logo-c:nth-child(2){
    background-image: url(./company\ logo\ 2.png);
    background-size: 100%;
}

.logo-c:nth-child(3){
    background-image: url(./company\ logo\ 3.png);
    background-size: 50%;
}

.logo-c:nth-child(4){
    background-image: url(./company\ logo\ 4.png);
    background-size: 50%;
}

.part-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.text-content-p-4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    padding: 5vw 10vw;
}

.text-content-p-4 h1{
    width: 50%;
    font-size: 3vw;
}

.text-content-p-4 .text-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2vh;
}

.text-content-p-4 .text-2 p{
    color: #757575;
}

.part-4-imgs{
    width: 120%;
    height: 70vh;
    display: flex;
    align-items: end;
    padding-bottom: 10vh;
    justify-content: center;
    gap: 5vw;
}

.part-4-imgs .img-p-4{
    width: 25vw;
    height: 30vh;
    border-radius: 30px;
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

.img-p-4:nth-child(2n){
    height: 50vh;
}

.img-p-4:nth-child(1){
    background-image: url(https://images.unsplash.com/photo-1494526585095-c41746248156?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.img-p-4:nth-child(2){
    background-image: url(https://images.unsplash.com/photo-1494145904049-0dca59b4bbad?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.img-p-4:nth-child(3){
    background-image: url(https://plus.unsplash.com/premium_photo-1661915661139-5b6a4e4a6fcc?q=80&w=1934&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.img-p-4:nth-child(4){
    background-image: url(https://images.unsplash.com/photo-1526546334624-2afe5b01088d?q=80&w=1899&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.img-p-4:nth-child(5){
    background-image: url(https://images.unsplash.com/photo-1611602132416-da2045990f76?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.img-p-4:nth-child(6){
    background-image: url(https://plus.unsplash.com/premium_photo-1678963248619-019a3809f6e8?q=80&w=1899&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.overlay-p-4{
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 1.2vw;
    color: #fff;
    padding: 5vh 0vw;
    width: 100%;
    height: 100%;
    background: linear-gradient(#33333300, #1111112b, #111 );
}

.part-5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
    height: 50vh;
}

.part-5 h1{
    font-size: 3vw;
}

.part-5 p{
    width: 50%;
    text-align: center;
    font-size: 1.2vw;
    color: #333;
}

.part-5 .img-part-5{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1647580424745-f418ac9adfe8?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: top;
    background-size: cover;
}

.part-5 h5{
    font-size: 1vw;
    color: #333;
}

.part-5 h6{
    color: #757575;
}

footer{
    width: 100%;
    height: 50vh;
    padding: 2vw 5vw;
    background-color: #0A74A7;    
}

.top-footer{
    display: flex;
    width: 100%;
    height: 60%;
}

.btm-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 100%;
    height: 40%;
    border-top: 1px solid #fff;
    padding: 10vh 0vw;
}

.btm-footer a{
    font-size: 0.8vw;
    color: #fff;
    text-decoration: none;
}

.link-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.lft-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    width: 50%;
    height: 100%;
    border-right: 1px solid #fff;
    color: #fff;
}

.cta-footer{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.cta-footer i{
    font-size: 1vw;
}

.cta-footer a{
    font-size: 1vw;
    color: #fff;
    text-decoration: none;
}

.rght-footer{
    width: 50%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding: 0vw 5vw;
    gap: 2vh;
}

.btm-footer h4{
    color: #fff;
}

.ri-menu-2-line{
    display: none;
}

/* Responsive part */

@media (max-width: 500px) {

    .ri-menu-2-line{
        font-size: 5vw;
        display: initial;
    }

    nav .lft-nav a{
        display: none;
    }

    nav .rght-nav a{
        display: none;
    }

    .cntr-nav{
        font-size: 6vw;
    }

    .rght-nav button{
        font-size: 3vw;
        padding: 2.5vw 7vw;
    }

    .part-1-img h1{
        font-size: 9vw;
    }

    .part-1-img p{
        font-size: 5vw;
    }

    .part-1-img .prop-select{
        width: 80vw;
        height: 40vh;
    }

    .prop-type a{
        font-size: 3.2vw;
    }

    .prop-option{
        font-size: 3.5vw;
        align-items: center;
        flex-direction: column;
    }

    #city, #type{
        width: 70vw;
    }

    .prop-option button{
        font-size: 3vw;
        padding: 2.5vw 7vw;
    }

    .part-2{
        height: auto;
        justify-content: space-between;
        min-height: 100vh;
    }

    .part-2 .top-part-2{
        height: 100vh;
        flex-direction: column;
    }

    .lft-top-part-2{
        width: 100%;
        padding-left: 10vw;
    }

    .lft-top-part-2 h1{
        font-size: 7vw;
    }

    .btn{
        font-size: 3vw;
        padding: 2.5vw 7vw;
    }

    .rght-top-part-2{
        width: 100%;
    }

    .rght-value{
        width: 80%;
        height: 40vh;
        padding: 0vw 5vw;
    }

    .lft-value h1{
        font-size: 8vw;
    }

    .lft-value{
        gap: 15vw;
        width: 85%;
    }

    .lft-value:nth-child(2){
        padding: 0vw 5vw;
    }

    .lft-value-2{
        padding: 0vw !important;
    }

    .part-2 .btm-part-2{
        height: 100vh;
    }

    .benefits{
        flex-direction: column;
        gap: 18vw;
    }

    .benefits .value h1{
        font-size: 6vw;
    }

    .benefits .value p{
        font-size: 4vw;
        width: 100%;
    }

    .logo-c{
        background-size: 150% !important;
    }

    .comp-logo{
        gap: 7vw;
    }

    .text-content-p-4{
        flex-direction: column;
        height: 40vh;
    }

    .text-content-p-4 .text-2{
        width: 100%;
    }

    .text-content-p-4 h1{
        font-size: 6vw;
        width: 100%;
    }

    .part-4-imgs{
        width: 250%;
        height: 60vh;
    }

    .part-4{
        gap: 5vh;
    }

    .part-4-imgs .img-p-4{
        width: 35vw;
    }

    .overlay-p-4{
        font-size: 4vw;
    }

    .part-5 h1{
        font-size: 7vw;
    }

    .part-5 p{
        width: 70%;
        font-size: 2.5vw;
    }

    .part-5 .img-part-5{
        height: 15vh;
        width: 15vw;
    }

    .part-5 h5{
        font-size: 2.9vw;
    }

    .part-5 h6{
        font-size: 2.9vw;
    }

    .cta-footer i{
        font-size: 5vw;
    }

    .cta-footer a{
        font-size: 4vw;
    }

    footer{
        height: 70vh;
    }

    .top-footer{
        height: 70%;
    }

    .btm-footer{
        height: 30%;
    }

    .lft-footer{
        justify-content: start;
        padding: 10vw 0vw;
    }

    .btm-footer a{
        font-size: 3.8vw;
    }    

}